@page {
	size: 182mm 257mm;
	margin: 2cm 0;
}

@page :first {
	margin-top: 0;
}

:root {
	--h1-bg: linear-gradient(to right, #ccc, #ddd);
	--h1-color: black;
}

body {
	margin: 0;
	padding: 0;
}

main {
	margin: 50px 2cm;
}

div.h1-bgimg {
	height: 250px;
	width: 100vw;
	background: var(--h1-bg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	text-align: center;
	color: var(--h1-color);
	margin: 0;
}

h2 {
	font-size: 20pt;
}

h3 {
	font-size: 18pt;
}

h4 {
	font-size: 16pt;
}

p {
	margin: 10px 0;
}

h2, h3, h4 {
	margin-top: 32px;
	margin-bottom: 16px;
}

p, td, th, li, pre {
	font-size: 14pt;
}

p::before {
	content: '　';
}

p.author {
	text-align: center;
	color: var(--h1-color);
	margin: 0;
	padding: 0;
	font-size: 15pt;
}

img {
	width: 100%;
	height: 25vh;
	text-align: center;
	object-fit: contain;
}

figcaption {
	text-align: center;
}

blockquote {
	text-align: center;
	margin-bottom: 3px;
}

figure.quote>figcaption::before {
	content: '―';
	color: #555;
}

figure.quote>figcaption {
	color: #555;
}

table {
	width: 100%;
}

table.bordered {
	border-collapse: collapse;
	border: solid 1px black;
}

table.bordered th,
table.bordered td {
	border: solid 1px black;
	padding: 3px;
}

table.col2-img td {
	width: calc(50% - 6px);
}

th {
	background-color: #ddd;
}

a::before {
	display: inline-block;
	content: 'aタグは利用できません';
	background-color: red;
	color: black;
	font-size: 14pt;
}

a {
	display: inline-block;
	font-size: 0;
}

section.clm h1,
section.clm h2,
section.clm h3,
section.clm h4,
section.clm h5,
section.clm h6 {
	font-size: 16pt;
	font-weight: bold;
	margin: 5px;
}

section.clm {
	border: 2px solid teal;
	padding: 15px;
	width: calc(100% - 35px);
<<<<<<< HEAD
}
=======
}
>>>>>>> 61c407a (Fix proper css. Not obsolate one)
